body {
  background-color: #ECF0F1;
  font-family: arial;
}

.game-container {
  margin: auto;
  width: 600px;
  text-align: center;
}

#question-box {
  box-sizing: border-box;
  background-color: white;
  width: 100%;
  padding: 50px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.options > * {
  line-height: 50px;
  height: 50px;
  width: 300px;
  margin: 10px 0px;
  color: white;
  background-color: #3498DB; 
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}