body {
  font-family: arial;
  background-color: rgb(214, 209, 209);
}
h1 {
  text-align: center;
}
#container {
  margin: auto;
  width: 1000px;
  background-color: rgb(214, 209, 209);
}
#delete-question {
  width: 100%;
  margin-bottom: 80px;
}
#manage-questions {
  width: 100%;
  background-color:white;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 40px;
}
.question {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: white;
  padding:10px 20px;
}
.delete {
  align-self: center;
  color: red;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 1.2em;
  border-style: none;
  border-radius: 5px;
  background-color: white; 
}

.question p {
  width: 600px;
  font-size: 1.2em;
}
#add-question {
  width: 100%;
}

#new-question {
  font-size: 1.5em;
  width: 100%;
  background-color:white;
  padding: 50px;
  box-sizing: border-box;
  border-radius: 40px;
}

#new-question div input[type='text'] {
  height: 40px;
  padding-left: 20px;
  width: 90%;
}

#new-question > input {
  height: 40px;
  padding-left: 20px;
  width: 100%;
  box-sizing: border-box;
}

#question > div {
  width: 90%;
}
#submit {
  display: block;
  margin: 30px auto;
  background-color:rgb(52,152,219);
  height: 70px;
  width: 200px;
  color: white;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 1.5em;
  border-style: none;
  border-radius: 5px;
}

a {
  display: block;
  text-align: center;
  margin: auto;
  text-decoration: none;
}